body{
    background-color: rgb(31, 31, 31);
    color: white;
}

#textPrompt{
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

#keyboard{
    height: 500px;
    width: 1500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 120px;
    border: 2px white solid;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, red 50%) top;
    background-size: 200% 200%;
    transition: 0.2s ease-out;;
}

.selected{
    border: 2px red solid;
    color: red;
    
    animation: selectedKeyAnim ease-in-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.selectedHold{
    background-position: bottom;
    
    animation: selectedKeyAnim ease-in-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.pressed{
    transform: translateY(12px) !important;
}

@keyframes selectedKeyAnim {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
     }
}